::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: quicksand;
  src: url("../static/fonts/Quicksand-Light.ttf");
  font-weight: 100;
}

@font-face {
  font-family: quicksand;
  src: url("../static/fonts/Quicksand-Medium.ttf");
  font-weight: 300;
}

@font-face {
  font-family: quicksand;
  src: url("../static/fonts/Quicksand-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: quicksand;
  src: url("../static/fonts/Quicksand-SemiBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: quicksand;
  src: url("../static/fonts/Quicksand-Bold.ttf");
  font-weight: 900;
}

body {
  font-family: quicksand;
}
